@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import 'tailwindcss';

body {
  font-family: 'Outfit', sans-serif;
  background-color: #f9fafb; /* Light gray background */
  color: #111827; /* Dark text color for better readability */
  overflow-x: hidden; /* Prevent horizontal scrolling */
  margin: 0;
  padding: 0;
}

.card-btn {
  @apply flex items-center gap-2 px-4 py-2 rounded-lg bg-gray-100 text-gray-700 hover:bg-purple-50 hover:text-purple-500 transition-all duration-200;
}
.card {
  @apply bg-white rounded-lg shadow-sm p-6;
}

.add-btn {
  @apply flex items-center gap-2 px-4 py-2 rounded-lg bg-green-100 text-green-700 hover:bg-purple-50 hover:text-purple-500 transition-all duration-200;
}
.add-btn-fill {
  @apply bg-purple-600 text-white hover:bg-purple-700 transition-colors duration-200 cursor-pointer font-semibold rounded-md px-4 py-2;
}
